body {
    width: 100vw;
    height: 100vh;
    background: #000;
}

.btn-wrap {
    margin-top: 200px;
    margin-left:200px;
    width:20%;
}

#paypal.menu {
    opacity: 0;
transform-origin: 50% 50%;
transition: opacity 0.5s, rotateX 0.5s, scale 0.5s ;
}

#paypal.menu:hover, #paypal.menu.active {
opacity: 1;
transform: rotateX(180deg) scale3d(2.5, 0, 0) translateY(450px);
}

#donate-btn {
    opacity: 0;

}

#vol-btn {
    opacity: 0;
}

svg {
    transition: scale3d 0.666s; 
}

svg:hover {
    transform: scale3d(2.5, 0, 0);
}