
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    height: 100vh;
    width:100vw;
    
}

  body {
      background-color: rgb(105, 105, 105);
    }

.main {
height:auto;
margin:0 auto;
width:100%;
z-index: -100;
}

.read {
  text-decoration: none;
  font-size: 1.5em;
  background-color: rgba(100, 100, 100, 0.5);
}

  .wrapper {
    left:0;
    top:0;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }


  .hedr {
grid-row: 1/5;
grid-column: 1/21;
display: grid;
grid-template-columns: repeat(20, 1fr);
grid-template-rows: repeat(4, 1fr);
pointer-events: auto;
  }

  .logo {
grid-row: 1/4;
grid-column: 1/4;
z-index: 1;
background: url(../img/logo3d.svg) no-repeat center center;
background-size: contain;
height: 100%;
width: 100%;
  }

.banr { 
  grid-row: 1/3;
  grid-column: 4/20;
  z-index: 1;
  background: url(../img/head-inset2.svg) no-repeat left center;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.mission {
  grid-row: 3/4;
  grid-column: 6/18;
  z-index: 1;
  background: url(../img/mission2.svg) no-repeat left center;
  background-size: contain;
  height: 100%;
  width: 100%;
}


.lsd {  
  grid-row: 5/18;
  grid-column: 1/5;
display:flex;
height: 100%;
width:100%;
flex-flow: column;
justify-content: space-around;
pointer-events: auto;

}

.ytd {
    font-size: 1.25em;
    text-align: center;
  }
  
  .lt-menu {
    position: relative;
    z-index: 2;
  }

  .last-mo {
    font-size: 1.2em;
    text-align: center;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.5);
    margin-left: 20px;
    color:black;
    transition: all 0.3s;
    
  }
  
  .card:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
    box-shadow: 8px 8px 5px rgba(0,0,0, 0.8);  
    
  }
  
  .rsd {
    grid-row: 5/18;
    grid-column: 16/21;
    display:flex;
    height: 100%;
    width:100%;
    flex-flow: column;
    justify-content: space-around;
    pointer-events: auto;
    
  }
  
a.dates {
display: grid;
grid-template-columns: 1fr 4fr;
grid-template-rows: 1fr 1fr;
padding:5px;
align-items: center;
justify-content: center;
text-decoration: none;
color: #000;
}

.dates h2 {
  grid-column:1/2;
  grid-row:1/3;
  text-align: center;
}

.dates h3 {
  grid-column:2/6;
  grid-row:1/2;
  text-align: center;
  
}

.dates p {
  grid-column:2/6;
  grid-row:2/3;
  text-align: center;
  
}


.card-rt {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.5);  
  margin-right: 20px;
  line-height: 1;
  color:black;  
  transition: all 0.3s;
}

.card-rt:hover {
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1.1);
  box-shadow: 8px 8px 5px rgba(0,0,0, 0.8);  
  
}

.rt-menu{
  z-index: 2;
}

  .futr {  grid-row: 19/20;
    grid-column: 1/21;
    display:flex;
    height: 100%;
    width:100%;
    flex-flow: row;
    justify-content: space-around;
    pointer-events: auto;
    align-items: center;
  }
  
  .social  {
    max-height:100px;
    max-width:100px;
    min-height:50px;
    min-width:50px;

  }

#fut-row li {
display: flex;
flex-flow: row;
justify-content: space-around;
}

   .fut {
    color:#fff;
    font-size:2em;
    background-color: #33b7d2;
    padding:0 5px;
    opacity:0.7;
  }

.fut-ani {
  transition: all 0.2s;
  transition-delay:0.2s;
  
}

.fut-ani:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
  transition-delay:0s;
  opacity:1;
  
}

  #item1 {
    height:100vh;
    background-image: url(../slides/backpacks-2017-03.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  #item2 {
    height:100vh;
    background-image: url(../slides/barbara-al-diana.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  #item3 {
    height:100vh;
    background-image: url(../slides/farmers-july-2017-01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  #item4 {
    height:100vh;
    background-image: url(../slides/al1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  #item5 {
    height:100vh;
    background-image: url(../slides/flu-shots.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  #item6 {
    height:100vh;
    background-image: url(../slides/jeff-and-pantry-crew.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  #item7 {
    height:100vh;
    background-image: url(../slides/pantry-workers-organize-warehouse.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  #item8 {
    height:100vh;
    background-image: url(../slides/al2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  #item9 {
    height:100vh;
    background-image: url(../slides/presentation-02.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  #item10 {
    height:100vh;
    background-image: url(../slides/sober-college-01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  #item11 {
    height:100vh;
    background-image: url(../slides/sober-college-02.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  #item12 {
    height:100vh;
    background-image: url(../slides/viewpoint-ceramics-03.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

