body {
    font-size: 1.25em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #00bdd3;
height: 100vh;
width: 100vw;
padding:0;
margin: 0;
}

.wrapper {
    display: grid;
    grid-template: 
      "hd hd hd hd hd hd hd hd hd hd" minmax(100px, auto)
      "sd1 sd1 main main main main main main sd2 sd2" auto
      "ft ft ft ft ft ft ft ft ft ft" minmax(100px, auto)
             "1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr" ;   
}

.hedr {
        grid-area: hd;
        background-color: #8888FD;
    }

    .lside {
        grid-area: sd1;
        background-color: #88FDA5;
    }

    .rside {
        grid-area: sd2;
        background-color: #FD88E4;
    }


        .footr {
        grid-area: ft;
        background-color: #88CEFD;
    }

    .midl {
        grid-area: main;
        background-color: #9FF514;
       
    }
