body {
	margin: 0;
<<<<<<< HEAD
	background-color: #c3c3c3;
=======
	background-color: #404040;
>>>>>>> fedca4bc7365c5b0fa4cb117a5c10bffc08f4bae
}

#container {
	width: 35em;
	margin: 3em auto;
}

.button-mainG {
	width: 18em;
	height: 5em;
	background-color: #00b7a4;
	background-image:  linear-gradient(45deg, #7fdbd1 0%, #00b7a4 20%, #00b7a4 92%, #007a6c 100%);
	border-top: 3px solid #7fdbd1;
	border-right: 3px solid #7fdbd1;
	border-left: 4px solid #007a6c;
	border-bottom: 4px solid #007a6c;
	border-radius: 1em;
	float: left;
	margin: 3em;
	text-decoration: none;
	box-shadow:  -.1em .1em 0 #000,
	-.2em .2em 0 #000,
	-.3em .3em 0 #000,
	-.4em .4em 0 #333,
	-.5em .5em 0 #333,
	-.6em .6em 0 #333,
	-.7em .7em 0 #333,
	-.9em .9em 0 #333,
	-1em 1em 0 #333,
	-1.1em 1.1em 0 #333,
	-1.2em 1.2em 0 #333;
transition: box-shadow 0.3s,
				border-top 0.3s,
				border-right 0.3s;
				text-align: center
}

.button-mainG:hover, .button-mainG:focus {
	box-shadow: .1em -.1em 0 #003d36,
				.2em -.2em 0 #003d36,
				-.1em .1em 0 #003d36,
				-.2em .2em 0 #003d36,
				-.3em .3em 0 #003d36,
<<<<<<< HEAD
				inset -.1em -.1em 2em #cdf1ed,
=======
				inset -.1em -.1em 2em #FFF,
>>>>>>> fedca4bc7365c5b0fa4cb117a5c10bffc08f4bae
				-.1em -.1em 2em #007a6c;
	border-top: 3px solid #007a6c;
	border-right: 3px solid #007a6c;
}

.button-insideG {
<<<<<<< HEAD
	width: 17em;
=======
	width: 16em;
>>>>>>> fedca4bc7365c5b0fa4cb117a5c10bffc08f4bae
	height: 4em;
	margin: .5em auto;
	border-radius: .8em;
	background-color: #00b7a4;
	background-image: linear-gradient(45deg, #7fdbd1, #00b7a4);
	box-shadow: inset -.15em .15em 0 #007a6c,
				inset .1em -.1em 0 #7fdbd1;
}

.button-insideG h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3em;
	color: #F2F2F2;
	text-align: center;
	line-height: 1.3em;
	margin: 0 auto;
	text-shadow: -.01em .01em 0 #007a6c,
				 -.02em .02em 0 #007a6c,
				 -.03em .03em 0 #007a6c,
				 -.04em .04em 0 #007a6c,
				 -.05em .05em 0 #007a6c,
				 -.06em .06em 0 #00b7a4,
				 -.07em .07em 0 #00b7a4,
				 -.08em .08em 0 #00b7a4,
				 -.09em .09em 0 #00b7a4,
				 -.1em .1em 0 #00b7a4,
				 -.11em .11em 0 #00b7a4;
}