body {
    font-family:'Franklin Gothic Heavy'; 
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

.shade4b {
    -webkit-filter:url('#filter884');
            filter:url('#filter884');
    opacity:0.234;
    fill:#000000;    
    transition: all 0.5s ease-in-out;
    
}

.shade3b {
    -webkit-filter:url("#filter888");
            filter:url("#filter888");
    opacity:0.254;
    fill:#000000;        
    transition: all 0.5s ease-in-out;
    
}

.shadeC {
    -webkit-filter:url("#filter887");
            filter:url("#filter887");
    opacity:0.214;
    fill:#000000;      
    transition: all 0.5s ease-in-out;
    
}

.shade2b {
    -webkit-filter:url("#filter899");
            filter:url("#filter899");
    opacity:0.2342;
    fill:#000000;    
    transition: all 0.5s ease-in-out;
    
}

.shade1b {
    -webkit-filter:url("#filter891");
            filter:url("#filter891");
    opacity:0.2342;
    fill:#000000;       
    transition: all 0.5s ease-in-out;
    
}

.shadeA {
    -webkit-filter:url("#filter895");
            filter:url("#filter895");
    opacity:0.2342;
    fill:#000000;        
    transition: all 0.5s ease-in-out;
    
}

.t-l-edge {
    fill:#7fdbd1;
    transition: all 0.5s ease-in-out;
    
}

.b-r-edge {
    fill:url("#radialGradient902");    transition: all 0.5s ease-in-out;
    
}

.rim {
    fill:url("#linearGradient2097");
    transition: all 0.5s ease-in-out;
    
}

.b-r-inset {
    fill: #7fdbd1;
    transition: all 0.5s ease-in-out;
    
}

.t-l-inset {
    fill:#007a6c;
    transition: all 0.5s ease-in-out;
    
}

.inner {
    fill:url("#linearGradient2213");
    transition: all 0.5s ease-in-out;
    
}

.txt {
    font-family:'Franklin Gothic Heavy'; 
       letter-spacing:0px;
    word-spacing:0px;
    transition: all 0.5s ease-in-out;
    
}

.txt-shad-b {
    fill:#007a6c;
    transition: all 0.5s ease-in-out;
    
}

.txt-shad-a {
fill:#000000;
transition: all 0.5s ease-in-out;

}

.txt-fore {
    fill:#ffffff;
    transition: all 0.5s ease-in-out;
    
}

.adiv {
    width:25%;
    height:25%;
}

#services-butn:hover {
    -webkit-transform:scaleX(o.9), scaleY(o.9);
            transform:scaleX(0.95) scaleY(0.95);


}

#services-butn {
    height:100%;
    width:100%;
    transform: scaleX(1) scaleY(1);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: inline-block;
    transform-origin: center center;

}

#services-butn:hover .shade4b {
    fill:#15bdab;
    -webkit-filter:url(#filter1919);
            filter:url(#filter1919);
    opacity:.164;
}

#services-butn:hover .shade3b {
    fill:#eafdfb;
    -webkit-filter:url(#filter3426);
            filter:url(#filter3426);
    opacity:0.6291
}

#services-butn:hover .shadeC {
    -webkit-filter:url("green-transform-test1.htm#filter887");
            filter:url("green-transform-test1.htm#filter887");
    opacity:0.214;
}

#services-butn:hover .shade2b {
    fill:#000000;
    -webkit-filter:url("green-transform-test1.htm#filter891-8");
            filter:url("green-transform-test1.htm#filter891-8");
    opacity:0.2342;
}

#services-butn:hover .shade1b {
    fill:#000000;
    -webkit-filter:url("green-transform-test1.htm#filter895-7");
            filter:url("green-transform-test1.htm#filter895-7");
    opacity:0.2342;
}

#services-butn:hover .shadeA {
    -webkit-filter:url("green-transform-test1.htm#filter895");
            filter:url("green-transform-test1.htm#filter895");
    opacity:.2342;
}

#services-butn:hover .t-l-edge {
    fill:#007a6c;

}

#services-butn:hover .b-r-edge {
    fill:#007a6c;
}

#services-butn:hover .rim {
    fill:#7fdbd1;
}

#services-butn:hover .b-r-inset {
    fill: #007a6c;
}

#services-butn:hover .t-l-inset {
    fill:#007a6c;
}

#services-butn:hover .inner {
    fill:#17c8b8;}

#services-butn:hover .txt {
    font-family:'Franklin Gothic Heavy';    
    letter-spacing:0px;
    word-spacing:0px;
}

#services-butn:hover .txt-shad-b {
visibility:hidden;
}

#services-butn:hover .txt-shad-a {
    /* visibility:hidden; */
}

#services-butn:hover .txt-fore {
    fill:url("#linearGradient2685");
}